<header class="header">
    <a routerLink="/">Shop</a>
    <div class="header-actions">
        @if (!isEmpty()) {
            <button (click)="openCart()" class="cart-button">
                {{ cartItemCount() }} items - {{ totalPrice() | currency }}
            </button>
        } 
        <button class="auth-button" routerLink="/checkout">Checkout</button>
        @if (isLoggedIn()) {
            <span class="user-info">Welcome, {{username()?.username}}!</span>
            <button class="auth-button" (click)="logout()">Logout</button>
        } @else {
            <button class="auth-button" routerLink="/login">Login</button>
        }
    </div>
</header>